/* contenedor de la barra laterl y el centro de la pagina */
body {
    background-color: dimgrey;
    display: flex;
    height:100vh;
    margin: 0px;
}
    /* barra lateral hija de body */
    #lateral {
        flex-direction: column wrap;
        width: 15vw;
        min-width: 140px;
        background-color: brown;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
        /* nav, hijo de lateral */
        #nav {
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items:flex-start;
            color: azure;
            margin: 0%;
        }
            #nav h2 {
                margin: 15px;
            }
            .a_nav {
                width: 100%;
                min-width: min-content;
                padding: 15px;
                text-decoration: none;
                text-transform: capitalize;
                font-size: large;
                color: azure;
                background-color: brown;
                border-bottom: 1px rgb(44, 13, 13) solid;
                transition-property: text-align, background-color;
                transition-duration: 1.2s;
            }
                .a_nav:hover {  
                    background-color: rgb(56, 22, 22);
                    text-align: center;
                    font-size: xx-large;
                }
    
    /* central, hijo de body */
    #central {
        display: flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
        background-color:rgb(56, 55, 55);
        width: 100vw;
        padding: 20px 5px 0px 5px;
    }
    /* footer, hijo de central, hijo de body */
        footer {
            background-color: rgb(55, 37, 37);
            height: 300px;
            padding: 15px;
            color: azure;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: flex-start;
        }
            footer ul {
                list-style: none; 
                padding: 0px;
                font-size: small;
            }
            .creadores {
                padding: 15px;
                text-align: left;
            }
            .datos {
                padding: 15px;
                text-align: right;
            }