
    /* titulo, hijo de cnetral */
    #titulo {
        text-align: right;
        color: antiquewhite;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    /* contendor de widgets hijo de central */
    #contenedor-widgets {
        display: flex;
        flex-flow: row wrap;
        margin-left: 50px;
        justify-content: space-around;
    }
        /* widgets hijos de contenedor de widgets */
        .widget {
            width: 31%;
            height: 20vh;
            min-width: 150px;
            min-height: 200px;
            opacity: 85%;
            background-color: blanchedalmond;
            border: 2px black solid;
            border-radius: 15px;
            margin-bottom: 1%;
        }
            /* widget 1 */
            .tabla {
                margin-top: 2px;
                margin-left: 4px;
            }

            .tabla th, .tabla td{
                text-align: center;
                padding: 4px 1px;
                border: 1px solid black;
            }
        
            .tabla caption{
                text-align: center;
                margin-bottom: 0px;
                font-variant: small-caps;
                font-size: 20px;
                letter-spacing: 5px;
            }
        
            .tabla td{
                font-size: 12px;
                padding-bottom: 4.3px;
                padding-right: 26.3px;
            }
        
            .tabla td:hover{
                background-color: rgb(250, 248, 149);
                user-select: none;
                font-size: 20px;
                text-align: center;
                padding: 0;
            }
        
            .tabla tr:nth-child(3) td:nth-child(3){
                background-color: rgb(47, 133, 231);
            }

        /* widget 2 */
        .personal {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            font-size: 40px;
            font-weight: bold;
        }

        /* widget 3 - 4 */
        .widget img{
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            }
 


