
    /* titulo, hijo de cnetral */
    #titulo {
        text-align: right;
        color: antiquewhite;
        margin-right: 50px;
    }
    /* contendor de widgets hijo de central */
    #contenedor-widgets {
        display: flex;
        flex-flow: row wrap;
        margin-left: 5px;
        justify-content:space-evenly;
        margin: 10px;
        gap: 10px;
    }
        /* widgets hijos de contenedor de widgets */
        .widget {
            width: 340px;
            height: 20vh;
            min-width: 150px;
            min-height: 200px;
            opacity: 85%;
            padding: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            background-color: blanchedalmond;
            border: 2px black solid;
            border-radius: 15px;
        }
            .widget:hover {
                background-color: rgb(217, 194, 162);
            }

            /* widget 1 */
            .tabla {
                margin-top: 2px;
                margin-left: 4px;
            }

            .tabla th, .tabla td{
                text-align: center;
                padding: 4px 3px;
                border: 1px solid black;
            }
        
            .tabla caption{
                text-align: center;
                margin-bottom: 1px;
                font-variant: small-caps;
                font-size: 20px;
                letter-spacing: 5px;
            }
        
            .tabla td{
                font-size: 12px;
                padding-bottom: 4.3px;
                padding-right: 26.3px;
            }
        
            .tabla td:hover{
                background-color: rgb(250, 248, 149);
                user-select: none;
                font-size: 20px;
                text-align: center;
                padding: 0;
            }
        
            .tabla tr:nth-child(3) td:nth-child(3){
                background-color: rgb(47, 133, 231);
            }

            /* widget 2 */
            .personal {
                justify-content: center;
                font-size: 50px;
                font-weight: bold;
            }
                .personal p {
                    margin: 0%;
                }
            /* widget 4 */
            #widget-meter {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
                #widget-meter * {
                    font-size: 27px;
                }
            /* widget 3 - 5 - 6 - 7 - 9*/
            .widget img{
                display: flex;
                text-align: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                }
            
            /* Reloj */
            .contenedor-reloj {
                text-align: center;
            }
            
            .contenedor-reloj h1 {
                font-size: 75px;
                font-weight: 400;
                font-family: 'lato';
            }
 


